<p>
  dashboard works!
  <a [routerLink]="[{ outlets: { w5: ['widget-chart'] } }]">Add chart Widget to slot5</a> &nbsp;
  <!--<button (click)="loadNumberRoute()">load number Widget to routing config</button> &nbsp;-->
  <a [routerLink]="[{ outlets: { w2: ['widget-number'] } }]">Add number Widget to slot2</a>
</p>

<div class="widgets">
  <div class="widget-placeholder" *ngFor="let widget of widgets" cdkDrag>
    <h3>Some header</h3>
    <!-- <router-outlet name="w1"></router-outlet> -->
    <app-named-outlet [name]="widget.name"></app-named-outlet>
  </div>
</div>
